template(name="require_login")
  div.alert.alert-danger Please login to continue.

template(name="access_denied")
  div.alert.alert-danger You're not authorized to view this page, please contact admin.
